
/*基础样式*/
html {
	/*height: 100%;*/
}
body {
	position: relative;
	/*min-height: 100%;*/
}
a {
	color: #333;
}
a:hover {
	color: #333;
}
a:active {
	color: #333;
}
.fl-l {
	float: left;
}
.fl-r {
	float: right;
}
.cl:after, .clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.pt-20 {
	padding-top: 20px;
}
.mt-20 {
	margin-top: 20px;
}
.mr-20 {
	margin-right: 20px;
}
/*布局样式*/
.container-wrapper {
	padding-left: 20px;
	padding-right: 20px;
}
/*header部分*/
.header-wrapper {
	height: 60px;
	background: #438EB9;
}
.logo {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 100%;
}
.navbar-title {
	font-size: 16px;
	color: #fff;
}
.user-wrapper .dropdown-toggle {
	height: 60px;
	line-height: 60px;
	cursor: pointer;
	color: #fff;
}
/*侧边栏*/
.aside-wrapper {
	position: absolute;
	top: 60px;
	left: 0;
	bottom: 0;
	width: 180px;
	overflow: auto;
	background-color: #F2F2F2;
	border-right: 1px solid #e5e5e5;
}
.aside-wrapper .aside-menu dt {
	position: relative;
	line-height: 35px;
	padding-left: 15px;
	cursor: pointer;
	border-bottom: 1px solid #e5e5e5;
	color: #333;
}
.aside-menu>dl>dt>.menu-dropdown-arrow {
	position: absolute;
	top: 8px;
	right: 15px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.aside-menu>dl>dt.selected>.menu-dropdown-arrow {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.aside-menu .menu-dropdown-arrow {
	position: absolute;
	top: 8px;
	right: 15px;
}
.aside-menu>dl>dd>ul>li {
	/*line-height: 35px;*/
}
.aside-menu>dl>dd>ul>li>a {
	display: block;
	line-height: 35px;
	padding-left: 28px;
}